log.lammps

venv/
.venv/
output/
*.csv
data/
**/__pycache__/
__pycache__/
*.log
*.lammpstrj
**/yolo_dataset/
*.tif
*.tiff

# rf-detr
rf-detr/mlruns/
rf-detr/checkpoints/
rf-detr/*.pth
rf-detr/split/

# data-setup
data-setup/mlruns/
data-setup/lightning_logs/
