log.lammps
venv/
output/
*.csv
data/
**/__pycache__/
__pycache__/

# particle-tracking
particle-tracking/mlruns/
particle-tracking/checkpoints/
particle-tracking/*.pth
particle-tracking/split/
particle-tracking/.venv/
